*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    font-weight: bold;
    place-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    margin-bottom: 1rem;
    color: hsl(263, 52%, 43%);
}
button{
    padding: 1rem 2rem;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 32px;
    background-color: hsl(263, 47%, 60%);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(263, 47%, 70%);
}
.dev{
    margin-top: 2rem;
    font-size: 1.2rem;
}
#result{
    margin: 1.5rem;
    font-size: 4rem;
}
.score{
    font-size: 2rem;
}
.greentext , #playerScore{
    color: hsla(140, 95%, 25%, 0.904);
}
.redtext, #computerScore{
    color: hsl(0, 78%, 48%);
}